.container
  .row
    .col-lg-12
      %h1.page-header
        About Us
        %small The One Man Show 
      / %ol.breadcrumb
      /   %li
      /     %a{:href => "/"} Home
      /   %li.active About Us
.row
  .col-md-6
    %img.img-responsive{:alt => "", :src => "https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/338292_2976620067780_588745140_o.jpg"}
  .col-md-6
    %h2#about_title About Mt.Pleasant Music
    %p Need a clarinet for your school band, or a guitar for a loved one? Shop at Mt. Pleasant Music. As a locally owned and operated business with 15 years' experience, Mt. Pleasant Music is the area's only full-line music store. 
    %p We will match or beat all Internet and catalog prices. Rentals are available and rent applies to purchase. We also repair instruments and specialize in guitar repairs. 
    %p#bold So, whether you're a beginner or a seasoned professional, we have the instruments for you.
/ .row
/   .col-lg-12
/     %h2.page-header Our Team
/   .col-md-4.text-center
/     .thumbnail
/       %img.img-responsive{:alt => "", :src => "http://placehold.it/750x450"}
/         .caption
/           %h3
/             John Smith
/             %br
/               %small Job Title
/           %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.
/           %ul.list-inline
/             %li
/               %a{:href => "#"}
/                 %i.fa.fa-2x.fa-facebook-square
/             %li
/               %a{:href => "#"}
/                 %i.fa.fa-2x.fa-linkedin-square
/             %li
/               %a{:href => "#"}
/                 %i.fa.fa-2x.fa-twitter-square
/   .col-md-4.text-center
/     .thumbnail
/       %img.img-responsive{:alt => "", :src => "http://placehold.it/750x450"}
/         .caption
/           %h3
/             John Smith
/             %br
/               %small Job Title
/           %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.
/           %ul.list-inline
/             %li
/               %a{:href => "#"}
/                 %i.fa.fa-2x.fa-facebook-square
/             %li
/               %a{:href => "#"}
/                 %i.fa.fa-2x.fa-linkedin-square
/             %li
/               %a{:href => "#"}
/                 %i.fa.fa-2x.fa-twitter-square
/   .col-md-4.text-center
/     .thumbnail
/       %img.img-responsive{:alt => "", :src => "http://placehold.it/750x450"}
/         .caption
/           %h3
/             John Smith
/             %br
/               %small Job Title
/           %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.
/           %ul.list-inline
/             %li
/               %a{:href => "#"}
/                 %i.fa.fa-2x.fa-facebook-square
/             %li
/               %a{:href => "#"}
/                 %i.fa.fa-2x.fa-linkedin-square
/             %li
/               %a{:href => "#"}
/                 %i.fa.fa-2x.fa-twitter-square




