/ this is the carousel
%header#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      .fill{:style => "background-image:url('http://www.taylorguitars.com/sites/default/files/hero-acoustic-guitars-browse-by-shape-taylor-guitars.jpg');"}
      .carousel-caption
        %h2#carsol_links
          = link_to "Mt. Pleasant Music", staffs_path
    .item
      .fill{:style => "background-image:url('https://tunessence.com/blog/wp-content/uploads/2013/08/Electric_guitar_477101105.jpg');"}
      .carousel-caption
        %h2#carsol_links 
          = link_to "For Sale", inventories_path
    .item
      .fill{:style => "background-image:url('http://www.avenue-guitars.com/Store%20Pics/AG%20-%20Repairs2.jpg');"}
      .carousel-caption
        %h2#carsol_links
          = link_to "Insturment Repairs", repairs_path
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.icon-next
%br/
.row.text-center
  .col-md-1
  .col-md-10#intro
    %p If you're in the school band or if you're a studio musician, Mt. Pleasant Music has the instruments and unparalleled service to make your shopping experience a pleasurable one. If you need an instrument repaired or want to sell one, we can help you. So stop by today and view our vast selection.
    %div
      %h4 Brands:
      Fernandes Guitars™
      %br/ 
      Dillion™ 
      %br/
      Washburn™
      %br/
      Randall™




















