.container
  / Page Heading/Breadcrumbs
  .row
    .col-lg-12
      %h1.page-header
        Contact
        %small Information
      / %ol.breadcrumb
      /   %li
      /     %a{:href => "index.html"} Home
      /   %li.active Contact
  / /.row
  / Content Row
  .row
    / Map Column
    .col-md-8
      / Embedded Google Map
      %div{:style => "width: 600px;"}
        #map{:style => "width: 600px; height: 400px;"}
    / Contact Details Column
    .col-md-4
      %h3 How to find us
      %p
        918 Lansing Drive
        %br
          Unit F
          %br
            Mt. Pleasant, SC 29464-4381
            %br
      %p
        %i.fa.fa-phone
        = succeed ":" do
          %abbr{:title => "Phone"} P
        (843) 849-1004
      %p
        %i.fa.fa-envelope-o
        = succeed ":" do
          %abbr{:title => "Email"} E
        %a{:href => "mailto:mtpmusic@bellsouth.net"} mtpmusic@bellsouth.net
      %p
        %i.fa.fa-clock-o
        = succeed ":" do
          %abbr{:title => "Hours"} H
        Monday - Friday: 9:00 AM to 6:00 PM
      %ul.list-unstyled.list-inline.list-social-icons
        %li
          %a{:href => "#"}
            %i.fa.fa-facebook-square.fa-2x
        %li
          %a{:href => "#"}
            %i.fa.fa-linkedin-square.fa-2x
        %li
          %a{:href => "#"}
            %i.fa.fa-twitter-square.fa-2x
        %li
          %a{:href => "#"}
            %i.fa.fa-google-plus-square.fa-2x
  / /.row
  / Contact Form
  / In order to set the email address and subject line for the contact form go to the bin/contact_me.php file.
  %hr/
  .row
    .col-md-8
      %h3 Send us a Message
      %form#contactForm{:name => "sentMessage", :novalidate => ""}
        .control-group.form-group
          .controls
            %label Full Name:
            %input#name.form-control{"data-validation-required-message" => "Please enter your name.", :required => "", :type => "text"}
              %p.help-block
        .control-group.form-group
          .controls
            %label Phone Number:
            %input#phone.form-control{"data-validation-required-message" => "Please enter your phone number.", :required => "", :type => "tel"}
        .control-group.form-group
          .controls
            %label Email Address:
            %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", :required => "", :type => "email"}
        .control-group.form-group
          .controls
            %label Message:
            %textarea#message.form-control{:cols => "100", "data-validation-required-message" => "Please enter your message", :maxlength => "999", :required => "", :rows => "10", :style => "resize:none"}
        #success
        / For success/fail messages
        %button.btn.btn-primary{:type => "submit"} Send Message
  / /.row