.container
  / Page Heading/Breadcrumbs
  .row
    .col-lg-12
      %h1.page-header
        Repairs 
        %small add one here
      %ol.breadcrumb
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "/repairs"} Repairs
        %li.active New Repair
  / /.row
  .row
    .col-md-1
    .col-md-5
      %h3 Start a New Repair
      = form_for @repair do |f|
        = f.label :name
        %br/
        = f.text_field :name
        %br/
        %br/
        = f.submit